body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  #greeting {
    background-color: turquoise;
    color: black;
    box-shadow: #656565;
    width: 50%;
    margin: auto;
    border-radius: 1%;
    border-color: black;
    border: 2px solid black;
    margin-top: 10px;
  }
  h1 {
    color: #414141;
    text-align: center;
    margin-top: 2em;
  }
  
  h2, h3 {
    color: #656565;
    text-align: center;
    margin-bottom: 2em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    padding: 1em;
    background-color: #e6e6e6;
    border: #ccc solid 1px;
    margin: 0.5em auto;
    width: 80%;
    border-radius: 10px;
  }
  
  li:nth-child(odd) {
    background-color: #d9d9d9;
  }
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  